@import './global.scss';

.aboutItem {
    // @include flexbox(row, null, center);
    display: flex;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
        90deg,
        rgba(165, 215, 232, 0.42) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;

    &:hover {
      background-size: 100% 100%;
    }
    h3 {
      @include text-styles(25px, 600);
    }
    p {
      @include text-styles(25px);
    }
}

.about--section {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.about--title {
    color: $color-text;
    @include text-styles(35px, 700, 1.75px, uppercase);
}

// .about--content {
//     @include flexbox(row, null, center);
// }

.aboutImage {
    width: 100%;
  }
  
.aboutItems {
color: $color-text;
// @include flexbox(column);
gap: 50px;
list-style: none;
padding: 0%;
}


@media screen and (max-width: 830px) {
    // .container {
    //   background-color: transparent;
    //   padding-left: 0;
    //   padding-right: 0;
    // }
    .about--section {
      padding: 40px 5%;
      // margin-top: 0;
      // margin-left: 0;
      // margin-right: 0;
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .about--content {
      flex-direction: column;
    }
  
    .aboutImage {
      // display: none;
      width: 70%; // Adjust width for smaller screens
      margin-bottom: 20px; // Add margin below the image
    }
  
    .aboutItems {
      margin-top: 29px;
    }
  
    .aboutItem {
      // padding-left: 0;
      // padding-right: 0;
      padding: 15px; // Adjust padding for smaller items
    }
  }