@import './global.scss';

.footer--section {
    color: $color-text;
    margin-top: 120px;
    background-color: $color-secondary;
    // @include flexbox(row, center, center);
    width: 100vw;
    padding: 58px 10%;
    // gap: 5px;
  }

.footer--text {
  p {
    @include text-styles(40px, 400, 2px);
  }
}

.footer-icon {
  width: 25%;
  height: auto;
}

.footer--links {
    // @include flexbox(row, null, center);
    list-style: none;
    // gap: 200px;
  }

.footer--link {
    // @include flexbox(null, null, center);
    // gap: 10px;
    text-align: center;

    a {
        color: $color-text;
        text-decoration: none;
        align-items: center;
        display: flex;
        @include text-styles(30px, 400, 1.5px);
        gap:10px;
      }
  }


  @media screen and (max-width: 830px) {
    .footer--section {
        margin-top: 60px;
        padding: 40px 5%;
        // flex-direction: column;
    }

    .footer--text {
      p {
        @include text-styles(20px, 400, 2px);
      }
    }


    .footer--link {
        justify-content: center;

        a {
            font-size: 12px;
            gap: 8px;
        }
    }
}