// Colors
$color-text: #fff;
$color-primary: #576cbc;
$color-secondary: #19376d;
$color-dark: #0b2447;
$color-bg: #04152d;
$primary: #5e3bee;
$heading-color: #282938;
$bg-shade: #f5fcff;
$github: #e62872;
$darkblue: #1c1e53;
$black: #000000;
$white: #ffffff;
$background-color: #0078ff;

// Fonts
$font-roboto: "Roboto";


@mixin flexbox($direction: row, $justify: null, $align: null) {
    display: flex;
    @if $direction != null { flex-direction: $direction; }
    @if $justify != null { justify-content: $justify; }
    @if $align != null { align-items: $align; }
  }
  
  
  @mixin text-styles($size, $weight: null, $spacing: null, $transform: null) {
    font-size: $size;
    @if $weight != null { font-weight: $weight; }
    @if $spacing != null { letter-spacing: $spacing; }
    @if $transform != null { text-transform: $transform; }
  }