@import './global.scss';

.projects--section {
    margin-top: 76px;
    color: $color-text;
    }
    
    .projects--title {
    @include text-styles(35px, 700, 1.75px, uppercase);
    margin-bottom: 37px;
    }
    
    .projects {
    // gap: 5px;
    width: 100%;
    }

    @media screen and (max-width: 768px) {
        .projects--section {
            padding-left: 5%;
            padding-right: 5%;
        }
    }