@import './global.scss';

.projectcard--section {
    @include flexbox(column);
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    max-width: 345px;
}

.projectcard--image {
    margin-bottom: 26px;
}

.card .projectcard--title {
    @include text-styles(25px, 700);
    color: $color-text;
}

.card .projectcard--description {
    margin-top: 6px;
    @include text-styles(25px, 400);
    color: $color-text;
}

.card .skills {
width: 100%;
margin-top: 14px;
@include flexbox(row);
flex-wrap: wrap;
gap: 6px;
list-style: none;
}
  
.card .skill {
@include text-styles(25px, 400);
border-radius: 100px;
// background: $color-dark;
padding: 2px 22px;
}
  
.links {
width: 100%;
margin-top: 26px;
@include flexbox(null, space-around);
}

.btn.link {
text-decoration: none;
color: $color-text;
@include text-styles(20px, 600);
border-radius: 100px;
background: $color-primary;
padding: 1px 22px;
}