@import '../../App.scss';

.projects--section {
    margin-top: 76px;
    // color: $color-text;
    color: var(--color-text);

    .projects--title {
        @include text-styles(35px, 700, 1.75px, uppercase);
        margin-bottom: 37px;
        }

    .projects {
    width: 100%;
    }

}

@media screen and (max-width: 767px) {
    .projects--section {
        padding-left: 5%;
        padding-right: 5%;

        .projects--title {
            @include text-styles(20px, 700, 1.75px, uppercase);
        }
    }
}
    