@import '../../App.scss';
.project-page {
  color: var(--color-text);
  font-family: $font-roboto, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: $bg-shade;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

    h1 {
        @include text-styles(2rem, bold);
        margin-bottom: 20px;
        color: $primary;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 20px;
    }

    p {
        @include text-styles(1rem);
        line-height: 1.6;
        margin-bottom: 20px;
    }

    h3 {
        @include text-styles(1.5rem, bold);
        margin-bottom: 15px;
        color: $heading-color;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            background-color: $color-secondary;
            color: $white;
            padding: 5px 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            @include text-styles(0.9rem, normal);
        }
    }
}

@media (max-width: 768px) {
  .project-page {
      padding: 15px;
      
      h1 {
          @include text-styles(1.8rem);
      }
  }
}
