@import '../../App.scss';
// @import '../scss/global.scss';

.footer--section {
    // color: $color-text;
    color: var(--color-text);
    margin-top: 120px;
    background-color: $color-secondary;
    width: 100vw;
    padding: 58px 10%;

    .footer--text {
        p {
          @include text-styles(40px, 400, 2px);
        }
      }

    .footer--links {
    list-style: none;

        .footer--link {
            text-align: center;
        
            a {
                // color: $color-text;
                color: var(--color-text);
                text-decoration: none;
                align-items: center;
                display: flex;
                @include text-styles(30px, 400, 1.5px);
                gap:10px;

                .footer-icon {
                    width: 25%;
                    height: auto;
                  }
                }
            }
    }
}

@media screen and (max-width: 767px) {
    .footer--section {
        margin-top: 60px;
        padding: 40px 5%;

        .footer--text {
            p {
            @include text-styles(20px, 400, 2px);
            }
        }

        .footer--links {
            .footer--link {
                justify-content: center;
        
                    a {
                        font-size: 12px;
                        gap: 8px;
                    }
            }
        }

    }
}
