@import '../src/pages/scss/global.scss';


.App {
    background-color: $color-bg;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Hero */

/* Navbar */

/* ProjectCard */

/* Projects */

/* Contact */

/* project page */

